<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign in User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="logIn(email, password)" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col> 
        <ion-button 
         type="submit" 
         color="danger"
         (click)="authService.GoogleAuth()" 
         expand="block">
           Login with Google
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4></h4>
        <a href="#" (click)= "register()">New user Register here</a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>
          Disclaimer: This is only an alterntaive support service.  Patients are advised to visit nearst Hospital for any emergencies.  
          Patients with co-morbidities like hypertension, diabetes etc., are advised to continue their respective medications adn continue taking consultat from their fmily physicians.  
          Our panel doctors will noe be help responsible for any casuality as we are not in physical contact with the patient and cannot assess continuously       
        </h3>
      </ion-col>
    </ion-row>
  </form>
</ion-content>