<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign in</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-text color="danger">Please read and agree to Terms of use&nbsp;&nbsp;</ion-text>
          <ion-checkbox name="IAgree" #IAgree></ion-checkbox>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="logIn(email, password, IAgree)" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" (click)="register()" expand="block">
          Register
        </ion-button>        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4>
          <ion-text color="danger">Terms of Use:</ion-text></h4>
          This is only an alterntaive support service. Patients are advised to visit nearest hospital for any emergencies. Patients with co-morbidities like hypertension, diabetes etc., are advised to continue their respective medications and continue taking consultantion from their family physician(s). Our panel of doctors or volunteers cannot be held responsible for any casuality as we are not in physical contact with the patient and cannot assess the condition continuously.
      </ion-col>
    </ion-row>
  </form>
</ion-content>