<ion-header [translucent]="true">
  <ion-toolbar class="headerBg">
    <ion-title> My Queue </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-toggle slot="start" name="showClosed" [(ngModel)]="showClosed">Show Closed</ion-toggle> -->
  <ion-list>
    <ion-item *ngFor="let appoint of appointments">
        <ion-grid>
            <ion-row>
              <ion-col>
                <div>
                    <ion-icon color="primary" item-left name="person"></ion-icon> Patient: {{appoint.PatientName | titlecase }}
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <div>
                      <ion-icon color="primary"  name="layers"></ion-icon> State: {{appoint.ReviewStatus}}
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                    <ion-button *ngIf="appoint.IsAcquirable" (click)="LockAppointment(appoint.uid)" color="primary" expand="block" class="fa fa-stethoscope">
                        <ion-icon name="create-outline"></ion-icon> View Appointment
                      </ion-button>
                </ion-col>
              </ion-row>
          </ion-grid>
     
     
    </ion-item>
  </ion-list>
</ion-content>