<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-title>
      Patient List
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
      <ion-searchbar animated placeholder="Enter name or mobile" color="default" [(ngModel)]="searchTerm"
      (ionChange)="searchPatients()"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card class="cardbg" *ngFor="let patient of patients">
      <ion-card-header>
        <ion-card-title>{{patient.FirstName | uppercase }}, {{patient.LastName  | uppercase }}</ion-card-title>
        <ion-card-subtitle>{{patient.TaggedDoctor}}</ion-card-subtitle>
        <ion-card-subtitle>{{patient.Mobile}}</ion-card-subtitle>
      </ion-card-header>    
            <ion-button color="primary" class="btnSize" expand ="block" (click)="NewAppointment(patient.uid)" > 
                <ion-icon slot="start" name="calendar-number-outline"></ion-icon>
                Appointment
              </ion-button>
            <ion-button color="warning" class="btnSize" expand ="block" (click)="viewPrescription(patient.uid)" > 
                <ion-icon slot="start" name="medkit-outline"></ion-icon>
                History / Precription
              </ion-button>
    </ion-card>
</ion-content>
