<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Patient List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let patient of patients">
      <ion-label>{{patient.FirstName}}, {{patient.LastName}} - {{patient.Mobile}}</ion-label>
      <ion-button (click)="NewAppointment(patient.uid)" color="primary" expand="block" class="fa fa-stethoscope"><ion-icon name="alarm-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-list>
</ion-content>
