<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Patient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Full Name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input type="Number" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Age</ion-label>
      <ion-input type="Number" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Gender</ion-label>
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio slot="gender" value="Male"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio slot="gender" value="Female"></ion-radio>
      </ion-item>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="SavePatient()" color="Primary" expand="block">Save</ion-button>
        <ion-button (click)="Cancel" color="danger" expand="block">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>