<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Patient</ion-title>
  </ion-toolbar>
</ion-header>


<!-- uid: string;
MailID: string;
FirstName: string;
LastName: string;
Mobile: boolean;
Age: number;
Gender: string; -->

<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text" name="FirstName" required [(ngModel)]="patient.FirstName"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Last name</ion-label>
      <ion-input type="text"  name="LastName" required  [(ngModel)]="patient.LastName"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input type="Number" name="Mobile" required  [(ngModel)]="patient.Mobile"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Alternative Mobile Number</ion-label>
      <ion-input type="Number" name="AltMobile" required  [(ngModel)]="patient.AltMobile"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Age</ion-label>
      <ion-input type="Number" name="Age" required [(ngModel)]="patient.Age"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" name="Addresss" required [(ngModel)]="patient.Address"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Gender</ion-label>
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio slot="gender" name="Gender" value="Male" [(ngModel)]="patient.Gender"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio slot="gender" name="Gender" value="Female" [(ngModel)]="patient.Gender"></ion-radio>
      </ion-item>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="SavePatient()" color="primary" expand="block">Save</ion-button>
        <ion-button (click)="goToHome()" color="danger" expand="block">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>