<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Appointment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <!-- <ion-card>
      <ion-card-header>
        <ion-label>{{appointment.PatientName}}</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-icon item-left name="user-icon"></ion-icon>
        Mobile: {{appointment.PatientInfo.Mobile}}
      </ion-card-content>
    </ion-card> -->
    <ion-item lines="full">
      <ion-label position="floating">Symptoms</ion-label>
      <ion-textarea type="text" name="Symptoms" required [(ngModel)]="appointment.Symptoms"></ion-textarea>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Temperature (F)</ion-label>
      <ion-input type="text" name="Temparature" required [(ngModel)]="appointment.Temparature"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Fever Peaks in (Hours)</ion-label>
      <ion-input type="text" name="FeverPeaksIn" required [(ngModel)]="appointment.FeverPeaksIn"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Mucus: Color & Texture</ion-label>
      <ion-input type="text" name="MucusColorTexture" required [(ngModel)]="appointment.MucusColorTexture"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">SpO2 [Pulse oximeter] Reading</ion-label>
      <ion-input type="text" name="OXIMeterReading" required [(ngModel)]="appointment.OXIMeterReading"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Pulse rate</ion-label>
      <ion-input type="text" name="PulseRate" required [(ngModel)]="appointment.PulseRate"></ion-input>
    </ion-item>    
    <ion-item lines="full">
      <ion-label position="floating">Peculiar symptoms</ion-label>
      <ion-input type="text" name="PeculiarSymptoms" required [(ngModel)]="appointment.PeculiarSymptoms"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Sleep symptoms</ion-label>
      <ion-input type="text" name="SleepSymptoms" required [(ngModel)]="appointment.SleepSymptoms"></ion-input>
    </ion-item>
    <ion-item lines="full" *ngIf="!isPatient">
      <ion-label position="floating">Doctor Prescription</ion-label>
      <ion-textarea type="text" name="DoctorPrescription" required [(ngModel)]="appointment.DoctorPrescription"></ion-textarea>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-label>Body pains</ion-label>
        <ion-toggle slot="start" name="BodyPains" [(ngModel)]="appointment.BodyPains"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Breathless/Wheezing</ion-label>
        <ion-toggle slot="start" name="BrethelessWeesing" [(ngModel)]="appointment.BrethelessWeesing"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Chest tightness</ion-label>
        <ion-toggle slot="start" name="ChestTightness" [(ngModel)]="appointment.ChestTightness"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Cold</ion-label>
        <ion-toggle slot="start" name="Cold" [(ngModel)]="appointment.Cold"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Cough</ion-label>
        <ion-toggle slot="start" name="Cough" [(ngModel)]="appointment.Cough"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Cough clipping</ion-label>
        <ion-toggle slot="start" name="CoughtClipping" [(ngModel)]="appointment.CoughtClipping"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Diarrhoea</ion-label>
        <ion-toggle slot="start" name="Diarrhoea" [(ngModel)]="appointment.Diarrhoea"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Drowsy</ion-label>
        <ion-toggle slot="start" name="Drowsy" [(ngModel)]="appointment.Drowsy"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Fever with chills</ion-label>
        <ion-toggle slot="start" name="FeverWithChills" [(ngModel)]="appointment.FeverWithChills"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Nausea</ion-label>
        <ion-toggle slot="start" name="Nausea" [(ngModel)]="appointment.Nausea"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Thirst</ion-label>
        <ion-toggle slot="start" name="Thirst" [(ngModel)]="appointment.Thirst"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Tired/Restlessness</ion-label>
        <ion-toggle slot="start" name="TieredRestless" [(ngModel)]="appointment.TieredRestless"></ion-toggle>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button (click)="SaveAppointment()" color="primary" expand="block">Save</ion-button>
        <ion-button (click)="goToHome()" color="danger" expand="block">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>