// ion-card-header{
//     background-color: #3880ff;
//     color: #FFFFFF;
//     margin-bottom: 10px;
// }

.blockSpan{
    Width:100%;
    float: left;
    margin-bottom: 5px;
}

.redText{
    color: red;
}