<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Prescriptions</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
    <ion-card *ngFor="let prescription of prescriptions">
      <ion-card-header>
          <ion-label>{{prescription.SymptomDate | date:'d, MMM h:mm a'}}</ion-label>
      </ion-card-header>
        <ion-card-content>
          <ion-icon item-left name="bag-add-outline"></ion-icon>
          Prescription: {{prescription.DoctorPrescription}}
            <!-- <ion-icon item-left name="person-outline"></ion-icon>
            Doctor: {{prescription.TaggedDoctor}}
          <ion-item item-left *ngIf="!prescription.TaggedDoctor">
              <ion-icon name="person-outline"></ion-icon>
              Doctor not assigned, our doctors are working on cases as per prirority. We will inform once your case is received by one of our doctors panel.
            </ion-item> -->
        </ion-card-content>
      </ion-card>
</ion-content>