<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Prescriptions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let prescription of prescriptions">
    <ion-card-header>
      <ion-label>{{prescription.SymptomDate | date:'d, MMM h:mm a'}}</ion-label>
    </ion-card-header>
    <ion-card-content>
      <span class="blockSpan">

        <ion-icon item-left name="bag-add-outline"></ion-icon> Prescription: {{prescription.DoctorPrescription}}
      </span>
      <span class="blockSpan">
        <ion-icon item-left name="create-outline"></ion-icon> Current State:
        <ion-text color="{{prescription.ReviewStatusColor}}">
          <span>{{prescription.ReviewStatus}}</span>
        </ion-text>
      </span>
    </ion-card-content>
  </ion-card>
</ion-content>